

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 25px;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.miCabecera
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lista
{
  margin-top:50px;
  width: 400px;
  border: 5px solid#61dafb;
  border-radius: 20px;
  padding: 15px;
}